<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedCorners.Video.WPF.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RedCorners.WPF.AppSettings>
            <setting name="VimeoClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="VimeoClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="VimeoToken" serializeAs="String">
                <value />
            </setting>
            <setting name="VimeoRedirectUrl" serializeAs="String">
                <value />
            </setting>
        </RedCorners.WPF.AppSettings>
    </userSettings>
</configuration>